main{
    text-align: center;
}
.question{
    display: flex;
    flex-direction: column;
}
/* button {
    padding: 20px 15px;
    margin: 10px;
    border-radius: 32px;
    background-color: yellow;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.808);
    border-width: 0;
    text-decoration: none;
    font-size: 24px;
}
button:hover {
    background-color: aqua;
}

button:active {
    background-color: red;
} */
 .button{
    max-height: initial;
 }
@media screen and (min-width: 801px) {
    main{
        text-align:left;
    }
    #buttonContainer{
        text-align: right;
    }
}