button {
    padding: 20px 15px;
    margin: 10px;
    border-radius: 32px;
    background-color: yellow;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.808);
    border-width: 0;
    text-decoration: none;
    font-size: 24px;
    /* text-wrap: wrap; */
}
img{
    display: none;
}
button:hover {
    background-color: aqua;
}

button:active {
    background-color: red;
}
.question{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.answerBank {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 801px) {
    img{
        display:initial;
    }
    .question {
        display: grid;
        grid-template-areas: "h2 img"
        "p img"
        "answers img";
        grid-template-columns: 2fr 1fr;
    }
    .question h2{
        grid-area: h2;
    }
    .question p{
        grid-area: p;
    }
    .question picture{
        grid-area: img;
    }
    .question .answerBank{
        grid-area: answers;
    }
}