body {
    margin: 0;
    background-color: aqua;
}

main {
    padding: 0;
    margin: 0;
}

picture {
    background-color: ccp;
    /* not sure what's happening here */
}

img {
    width: 100%;
}

section {
    position: relative;
    text-align: center;
    /* align-items: center; */
}

.sectionDesc {
    display: grid;
    position: absolute;
    /* flex-direction: column; */
    /* width: 33%; */
    max-height: 100%;
    overflow: hidden;
    align-items: center;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
}

.sectionDesc p {
    grid-area: bodytext;
    align-self: self-start;
}

.sectionDesc h1 {
    grid-area: title;
    align-self: end;
}

.sectionDesc a {
    grid-area: button;
    align-self: start;
}

section:nth-child(3) a,
section:nth-child(3) h1 {
    align-self: center;
}

section:nth-child(1) .sectionDesc {
    /* bottom: 8px; */
    right: 16px;
    grid-template-areas: "title ."
        "bodytext button";
    height: 100%;
}

section:nth-child(2) .sectionDesc {
    /* bottom: 8px; */
    /* left: 16px; */
    grid-template-areas: ". title"
        "button bodytext";
    height: 100%;
}

section:nth-child(3) .sectionDesc {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* bottom: 8px; */
    /* left: 50%; */
}

/* .button {
    padding: 20px 15px;
    margin: 10px;
    border-radius: 32px;
    background-color: yellow;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.808);
    border-width: 0;
    text-decoration: none;
    font-size: 24px;
    max-height: 40px;
}

.button:hover {
    background-color: aqua;
}

.button:active {
    background-color: red;
} */

@media screen and (min-width: 768px) {
    body {
        background-color: blueviolet;
    }

    /* section:nth-child(1) .sectionDesc,section:nth-child(3) .sectionDesc {
        position: absolute;
        bottom: 8px;
        right: 16px;
        width: 30%;
        grid-template-areas: "title ."
            "bodytext button";
    }
    
    section:nth-child(2) .sectionDesc {
        position: absolute;
        bottom: 8px;
        left: 16px;
        width: 30%;
        grid-template-areas: ". title"
            "button bodytext";
    } */

    section .sectionDesc {
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        /* bottom: 8px; */
        /* left: 50%; */
    }

    section:nth-child(1) .sectionDesc {
        left: 50%
    }

    section:nth-child(2) .sectionDesc {
        right: 50%
    }
    section:nth-child(3) .sectionDesc {
        justify-content: center;
        align-content: center;
        padding: 0 50px;
    }

    .sectionDesc h1 {
        align-self: center;
    }
    .sectionDesc a {
        grid-area: button;
        align-self: center;
    }
}